## INSERT ЗАПРОСЫ

In [7]:
import sqlalchemy
engine = sqlalchemy.create_engine('postgresql://postgres:262123@localhost:5432/netologytest')
connection = engine.connect()

In [8]:
data = connection.execute("""SELECT * FROM artist;
""").fetchall()
data

[]

In [35]:
# Добавляем артистов.

connection.execute("""INSERT INTO artist(name, nickname) 
           VALUES('Мирон Фёдоров', 'Oxxxymiron');
           INSERT INTO artist(name, nickname) 
           VALUES('Дункан Де Мур', 'Duncan Laurence');
           INSERT INTO artist(name, nickname) 
           VALUES('Энтони Кидис', 'Red Hot Chili Peppers');
           INSERT INTO artist(name, nickname) 
           VALUES('Билли Джо Армстронг', 'Green Day');
           INSERT INTO artist(name, nickname) 
           VALUES('Патрик Стамп', 'Fall Out Boy');
           INSERT INTO artist(name, nickname) 
           VALUES('Брок Ричардс', 'Starset');
           INSERT INTO artist(name, nickname) 
           VALUES('Джонни Хокинс', 'Nothing More');
           INSERT INTO artist(name, nickname) 
           VALUES('Честер Беннингтон', 'Linkin Park');
           INSERT INTO artist(name, nickname) 
           VALUES('Кристоф фон Фрайдорф', 'Emil Bulls');
""")

# Можно, наверно, как-то комбинировать добавление сразу в эту таблицу и таблицу с artist_genre?

In [83]:
artists = connection.execute("""SELECT * FROM artist;
""").fetchall()
artists

# Как сбросить в таблице счетчик ID?

[(15, 'Мирон Фёдоров', 'Oxxxymiron'),
 (16, 'Дункан Де Мур', 'Duncan Laurence'),
 (17, 'Энтони Кидис', 'Red Hot Chili Peppers'),
 (18, 'Билли Джо Армстронг', 'Green Day'),
 (19, 'Патрик Стамп', 'Fall Out Boy'),
 (20, 'Брок Ричардс', 'Starset'),
 (21, 'Джонни Хокинс', 'Nothing More'),
 (22, 'Честер Беннингтон', 'Linkin Park'),
 (23, 'Кристоф фон Фрайдорф', 'Emil Bulls')]

In [42]:
# Добавляем жанры.

connection.execute("""INSERT INTO genre(name) 
           VALUES('Pop');
           INSERT INTO genre(name) 
           VALUES('Pank');
           INSERT INTO genre(name) 
           VALUES('Funk');
           INSERT INTO genre(name) 
           VALUES('Alternative');
           INSERT INTO genre(name) 
           VALUES('Nu metal');
""")

In [82]:
# Проверяем, как добавились жанры.

genres = connection.execute("""SELECT * FROM genre;
""").fetchall()
genres

[(1, 'Rap'),
 (2, 'Pank'),
 (3, 'Funk'),
 (4, 'Alternative'),
 (5, 'Nu metal'),
 (6, 'Pop')]

In [46]:
connection.execute("""INSERT INTO artist_genre(genre_id, artist_id) 
           VALUES(1, 15);
           INSERT INTO artist_genre(genre_id, artist_id) 
           VALUES(6, 16);
           INSERT INTO artist_genre(genre_id, artist_id) 
           VALUES(3, 17);
           INSERT INTO artist_genre(genre_id, artist_id) 
           VALUES(2, 18);
           INSERT INTO artist_genre(genre_id, artist_id) 
           VALUES(2, 19);
           INSERT INTO artist_genre(genre_id, artist_id) 
           VALUES(4, 20);
           INSERT INTO artist_genre(genre_id, artist_id) 
           VALUES(4, 21);
           INSERT INTO artist_genre(genre_id, artist_id) 
           VALUES(4, 22);
           INSERT INTO artist_genre(genre_id, artist_id) 
           VALUES(5, 23);
""")

In [81]:
# Смотрим на итог.

artists_genres = connection.execute("""SELECT artist_id, genre_id FROM artist_genre;
""").fetchall()
artists_genres

# Тут, наверное, общий ID не нужен? Он заполняется странно.
# А как мы потом увидим не ID а имена? Это через Join уже потом соотносим всё, да?

[(15, 1),
 (16, 6),
 (17, 3),
 (18, 2),
 (19, 2),
 (20, 4),
 (21, 4),
 (22, 4),
 (23, 5)]

In [56]:
# Заполняем альбомы, с каждого артиста по 1 альбому.
connection.execute("""INSERT INTO album(album_name, release) 
           VALUES('Горгород', '2015');
           INSERT INTO album(album_name, release) 
           VALUES('Small Town Boy', '2020');
           INSERT INTO album(album_name, release) 
           VALUES('The Getaway', '2016');
           INSERT INTO album(album_name, release) 
           VALUES('Father of All Motherfuckers', '2020');
           INSERT INTO album(album_name, release) 
           VALUES('M A N I A', '2018');
           INSERT INTO album(album_name, release) 
           VALUES('Horizons', '2021');
           INSERT INTO album(album_name, release) 
           VALUES('The Stories We Tell Ourselves', '2017');
           INSERT INTO album(album_name, release) 
           VALUES('One More Light', '2017');
           INSERT INTO album(album_name, release) 
           VALUES('Kill your demons', '2017');


""")

In [80]:
# Смотрим на итог.

albums = connection.execute("""SELECT * FROM album;
""").fetchall()
albums

[(1, 'Горгород', 2015),
 (2, 'Small Town Boy', 2020),
 (3, 'The Getaway', 2016),
 (4, 'Father of All Motherfuckers', 2020),
 (5, 'M A N I A', 2018),
 (6, 'Horizons', 2021),
 (7, 'The Stories We Tell Ourselves', 2017),
 (8, 'One More Light', 2017),
 (9, 'Kill your demons', 2017)]

In [60]:
# Заполняем принадлежность альбомов к артистам.
connection.execute("""INSERT INTO album_artist(album_id, artist_id) 
           VALUES(1, 15);
           INSERT INTO album_artist(album_id, artist_id) 
           VALUES(2, 16);
           INSERT INTO album_artist(album_id, artist_id) 
           VALUES(3, 17);
           INSERT INTO album_artist(album_id, artist_id) 
           VALUES(4, 18);
           INSERT INTO album_artist(album_id, artist_id) 
           VALUES(5, 19);
           INSERT INTO album_artist(album_id, artist_id) 
           VALUES(6, 20);
           INSERT INTO album_artist(album_id, artist_id) 
           VALUES(7, 21);
           INSERT INTO album_artist(album_id, artist_id) 
           VALUES(8, 22);
           INSERT INTO album_artist(album_id, artist_id) 
           VALUES(9, 23);
""")

In [70]:
# Смотрим заполнение.

album_artists = connection.execute("""SELECT * FROM album_artist;
""").fetchall()
album_artists

[(1, 15, 1),
 (2, 16, 2),
 (3, 17, 3),
 (4, 18, 4),
 (5, 19, 5),
 (6, 20, 6),
 (7, 21, 7),
 (8, 22, 8),
 (9, 23, 9)]

In [67]:
# Заполняем треки.
connection.execute("""INSERT INTO track(album_id, name, duration) 
           VALUES(1, 'Город под подошвой', '246');
           INSERT INTO track(album_id, name, duration) 
           VALUES(2, 'Beautiful', '257');
           INSERT INTO track(album_id, name, duration) 
           VALUES(3, 'The Hunter', '240');
           INSERT INTO track(album_id, name, duration) 
           VALUES(4, 'Fire, Ready, Aim', '112');
           INSERT INTO track(album_id, name, duration) 
           VALUES(5, 'Champion', '193');
           INSERT INTO track(album_id, name, duration) 
           VALUES(6, 'The Breach', '260');
           INSERT INTO track(album_id, name, duration) 
           VALUES(6, 'Devolution', '310');
           INSERT INTO track(album_id, name, duration) 
           VALUES(7, 'Dont Stop', '288');
           INSERT INTO track(album_id, name, duration) 
           VALUES(7, 'Who We Are', '199');
           INSERT INTO track(album_id, name, duration) 
           VALUES(7, 'Still in Love', '256');
           INSERT INTO track(album_id, name, duration) 
           VALUES(8, 'Nobody Can Save Me', '186');
           INSERT INTO track(album_id, name, duration) 
           VALUES(8, 'Heavy', '150');
           INSERT INTO track(album_id, name, duration) 
           VALUES(8, 'Sorry for Now', '198');
           INSERT INTO track(album_id, name, duration) 
           VALUES(9, 'Kill Your Demons', '215');
           INSERT INTO track(album_id, name, duration) 
           VALUES(9, 'Euphoria', '211');
""")

In [79]:
# Смотрим все треки.

tracks = connection.execute("""SELECT * FROM track;
""").fetchall()
tracks

[(1, 1, 'Город под подошвой', 246),
 (2, 2, 'Beautiful', 257),
 (3, 3, 'The Hunter', 240),
 (4, 4, 'Fire, Ready, Aim', 112),
 (5, 5, 'Champion', 193),
 (6, 6, 'The Breach', 260),
 (7, 6, 'Devolution', 310),
 (8, 7, 'Dont Stop', 288),
 (9, 7, 'Who We Are', 199),
 (10, 7, 'Still in Love', 256),
 (11, 8, 'Nobody Can Save Me', 186),
 (12, 8, 'Heavy', 150),
 (13, 8, 'Sorry for Now', 198),
 (14, 9, 'Kill Your Demons', 215),
 (15, 9, 'Euphoria', 211)]

In [72]:
# Создаем сборники

connection.execute("""INSERT INTO collection(name, release) 
           VALUES('Not Rock', '2016');
           INSERT INTO collection(name, release) 
           VALUES('Alternative', '2019');
           INSERT INTO collection(name, release) 
           VALUES('The Best', '2020');
           INSERT INTO collection(name, release) 
           VALUES('Bored', '2021');
           INSERT INTO collection(name, release) 
           VALUES('All Rocks', '2021');
           INSERT INTO collection(name, release) 
           VALUES('Agressive', '2020');
           INSERT INTO collection(name, release) 
           VALUES('Chill', '2019');
           INSERT INTO collection(name, release) 
           VALUES('Mega', '2018');
""")

In [78]:
collections = connection.execute("""SELECT * FROM collection;
""").fetchall()
collections

[(1, 'Not Rock', 2016),
 (2, 'Alternative', 2019),
 (3, 'The Best', 2020),
 (4, 'Bored', 2021),
 (5, 'All Rocks', 2021),
 (6, 'Agressive', 2020),
 (7, 'Chill', 2019),
 (8, 'Mega', 2018)]

In [75]:
# Создаем треки с сборниках

connection.execute("""INSERT INTO collection_track(collection_id, track_id) 
           VALUES(1, 1);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(1, 2);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(2, 11);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(2, 12);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(2, 13);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(3, 5);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(3, 8);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(3, 12);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(3, 14);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(4, 2);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(4, 1);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(5, 3);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(5, 6);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(5, 7);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(6, 14);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(6, 15);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(7, 1);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(7, 2);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(7, 12);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(8, 11);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(8, 12);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(8, 14);
           INSERT INTO collection_track(collection_id, track_id) 
           VALUES(8, 15);
""")

In [84]:
collection_track = connection.execute("""SELECT * FROM collection_track;
""").fetchall()
collection_track

[(1, 1, 1),
 (2, 1, 2),
 (3, 2, 11),
 (4, 2, 12),
 (5, 2, 13),
 (6, 3, 5),
 (7, 3, 8),
 (8, 3, 12),
 (9, 3, 14),
 (10, 4, 2),
 (11, 4, 1),
 (12, 5, 3),
 (13, 5, 6),
 (14, 5, 7),
 (15, 6, 14),
 (16, 6, 15),
 (17, 7, 1),
 (18, 7, 2),
 (19, 7, 12),
 (20, 8, 11),
 (21, 8, 12),
 (22, 8, 14),
 (23, 8, 15)]

## SELECT ЗАПРОСЫ

In [91]:
# 1 - название и год выхода альбомов, вышедших в 2018 году;

data = connection.execute("""SELECT album_name, release FROM album
WHERE release = '2018';""").fetchall()
data

[('M A N I A', 2018)]

In [95]:
# 2 - название и продолжительность самого длительного трека;
data = connection.execute("""SELECT name, duration release FROM track
ORDER BY duration DESC;""").fetchmany(1)
data

[('Devolution', 310)]

In [100]:
# 3 - название треков, продолжительность которых не менее 3,5 минуты;
data = connection.execute("""SELECT name, duration release FROM track
WHERE duration > '210'
ORDER BY duration DESC;""").fetchall()
data

[('Devolution', 310),
 ('Dont Stop', 288),
 ('The Breach', 260),
 ('Beautiful', 257),
 ('Still in Love', 256),
 ('Город под подошвой', 246),
 ('The Hunter', 240),
 ('Kill Your Demons', 215),
 ('Euphoria', 211)]

In [102]:
# 4 - названия сборников, вышедших в период с 2018 по 2020 год включительно;

data = connection.execute("""SELECT name, release FROM collection
WHERE release BETWEEN '2018' AND '2020';""").fetchall()
data

[('Alternative', 2019),
 ('The Best', 2020),
 ('Agressive', 2020),
 ('Chill', 2019),
 ('Mega', 2018)]

In [150]:
# 5 - исполнители, чье имя состоит из 1 слова;

data = connection.execute("""SELECT nickname FROM artist
WHERE nickname NOT LIKE '%% %%';""").fetchall()
data

[('Oxxxymiron',), ('Starset',)]

In [157]:
# 6 - название треков, которые содержат слово "мой"/"my".
data = connection.execute("""SELECT name FROM track
WHERE name iLIKE '%%мой%%'
OR name iLIKE '%%my%%';""").fetchall()
data

# мой\my - у меня таких нет, но я сделал другие слова

[]

In [158]:
data = connection.execute("""SELECT name FROM track
WHERE name iLIKE '%%bea%%'
OR name iLIKE '%%dev%%';""").fetchall()
data

[('Beautiful',), ('Devolution',)]